<div class="page-header">
  <h1 class="text-center">Discover Amazon</h1>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="well"><input type="text" data-ng-model="search" class="col-xs-12 input-lg" placeholder="search products" id="searchTerm" /></div>
  </div>
</div>

<hr  /><br />

<h1 class="alert alert-danger"data-ng-show="!images.length && search && !loading">NOTHING FOUND</h1>


<div data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}' class="row" id="posts" data-ng-init="searchAmazon()">
  <div data-masonry-tile class="tile col-xs-12 col-md-6 col-lg-4" data-ng-repeat="product in products">
    <div class="well">
      <a data-ng-href="{{ product.DetailPageURL }}" target="_blank">{{ product.ItemAttributes.Title }}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="col-xs-12 btn btn-primary btn-lg" data-ng-click="loadMore()" />Get More</button>
  </div>
</div>