<div class="page-header">
  <h1 class="text-center">Discover Imgur</h1>
</div>


<div class="row">
  <div class="col-xs-12">
    <div data-ng-hide="recent">
      <input type="text" data-ng-model="search" class="col-xs-12 input-lg" placeholder="search images" id="searchTerm" />
    </div>
    <div class="row">
      <div class="pull-left col-xs-12 col-sm-3" data-ng-hide="recent">
        <label><input type="checkbox" data-ng-model="sub" />Filter By Subreddit</label>
      </div>
      <div class="pull-left col-xs-12 col-sm-3" data-ng-hide="sub">
        <label><input type="checkbox" data-ng-model="recent" />Show Recent</label>
      </div>
    </div>
    <hr  /><br />
  </div>
</div>

<h1 class="alert alert-danger"data-ng-show="!images.length && search && !loading">NOTHING FOUND</h1>

<div data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}' class="row" id="posts" data-ng-init="loadImages()">
  <div data-masonry-tile class="tile col-xs-12 col-md-6 col-lg-4" data-ng-repeat="image in images | filter: { link: '!/a/'}">
    <div class="well">
      <a data-ng-href="{{ image.link }}" target="_blank"><img data-ng-src="{{ image.link }}" /></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="col-xs-12 btn btn-primary btn-lg" data-ng-click="loadMore()" />Get More</button>
  </div>
</div>