<div class="page-header">
  <h1 class="text-center">Discover Instagram</h1>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="well"><input type="text" data-ng-model="tag" class="col-xs-12 input-lg" placeholder="search images" id="searchTerm" /></div>
  </div>
</div>

<hr  /><br />

<h1 class="alert alert-danger"data-ng-show="!pics.length && tag && !loading">NOTHING FOUND</h1>

<div data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}' class="row" id="posts" data-ng-init="loadPics()">
  <div data-masonry-tile class="col-xs-12 col-md-6 col-lg-4 item" data-ng-repeat="pic in pics">
    <div class="well">
      <a href="{{ pic.link }}" target="_blank"><img data-ng-src="{{ pic.images.standard_resolution.url }}" /></a>
      <h5>
        <span class="text-danger"><span class="glyphicon glyphicon-heart"></span> {{ pic.likes.count }}</span> &nbsp;
        <span class="text-muted"><span class="glyphicon glyphicon-comment"></span> {{ pic.comments.count }}</span> 
        <a href="http://instagram.com/{{ pic.user.username }}" target="_blank" class="pull-right"><span class="text-muted">{{ pic.user.username | limitTo: 20 }}</span></a>
      </h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="col-xs-12 btn btn-primary btn-lg" data-ng-click="loadPics()" data-ng-show="tag" />Get More</button>
  </div>
</div>