<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header hidden-xs">
      <a class="navbar-brand" href="#">Quick Vine</a>
    </div>

    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" data-ng-model="searchTerm" class="col-sm-12 input-lg" placeholder="filter videos" id="searchTerm" />
      </div>
    </form>
  </div><!-- /.container-fluid -->
</nav>

<h1 class="alert alert-info" data-ng-show="loading">LOADING</h1>
<h1 class="alert alert-danger"data-ng-show="!videos.length && searchTerm && !loading">NOTHING FOUND</h1>


<div class="row" id="top">
  <div class="well col-xs-12 col-md-6 col-lg-4" data-ng-repeat="item in videos">
    <video data-ng-click="toggleVideo(item)" id="vine-{{ item.postId }}" width="100%" poster="{{ item.thumbnailUrl }}">
    </video>
    <p class="lead">{{ item.description | limitTo:50 }}</p>
  </div>
</div>