<div class="page-header">
  <h1 class="text-center">Discover Vine</h1>
</div>


<div class="row">
  <div class="text-center col-xs-12">
    <input type="text" data-ng-hide="category" data-ng-model="searchTerm" class="col-xs-12  input-lg" placeholder="filter videos" id="searchTerm" />
    <select data-ng-model="category" class="pull-right col-xs-12 input-lg" data-ng-init="loadCategories()" data-ng-options="category.channel for category in categories">
      <option value="">---- Or Choose A Category ----</option>
    </select>
  </div>
</div>

<hr  /><br />

<h1 class="alert alert-info" data-ng-show="loading">Fetching Videos</h1>
<h1 class="alert alert-danger"data-ng-show="!videos.length && searchTerm && !loading">NOTHING FOUND</h1>

<div data-masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}' class="row" id="posts">
  <div data-masonry-tile class="tile col-xs-12 col-sm-6 col-lg-4" data-ng-repeat="item in videos">
    <div class="well">
      <video data-ng-click="toggleVideo(item)" id="vine-{{ item.postId }}" width="100%" poster="{{ item.thumbnailUrl }}"></video>
      <p class="lead"><a data-ng-href="{{ item.permalinkUrl }}" target="_blank" title="Created {{ item.created }} by {{ item.username }}" />{{ item.description | limitTo:50 }}</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="col-xs-12 btn btn-primary btn-lg" data-ng-click="loadMore()" data-ng-show="searchTerm" />Get More</button>
  </div>
</div>